<%- include('./partials/header'); -%>


  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
    <h1 class="display-4"> <%= project.title %> </h1>
    <p class="lead"> <%= project.description %> </p>
    </div>
  </div>
  <div class="container-fluid">
  <p> Owned by: <%= owner.name %> </p>
  <div class="userList">
    <h2> People on this project: </h2>
    <% users.forEach(function(user) { %>
      <p> <%=user.name%> </p>
    <% }) %>

   
  </div>
  <div class="messageList">
    <% if (comments) { %>
    <h2> Messages: </h2>
    <% comments.forEach(function(message) { %>
      <p> "<%=message.body%>" sent by <%=message.username%> on <%=message.date%></p>
    <% }) %>
    <% } %>

    <form action="/mainPage/<%=project.id%>/message" method="POST">
        <div class="form-group">
          <input type="textarea" class="form-control" placeholder="Enter comment" name="message" required>
          <small id="emailHelp" class="form-text text-muted">Submit your message to the group chat.</small>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
  </div>
</div>

    <%- include('./partials/footer'); -%>
